@import "../../global.scss";

.recipePage {
  width: $container-width;
  height: calc(100vh - $nav-height);
  margin: calc($nav-height + 2em) auto;
  display: flex;

  .left {
    flex: 1;

    h1 {
      font-family: "Pacifico", cursive;
      font-weight: 300;
      font-size: 2.6rem;
    }
  }

  .right {
    flex: 3;

    .top {
      display: flex;
      justify-content: space-between;
    }
  }
}
